@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(231, 245, 250);
  text-align: center;
  color: rgb(255, 255, 255);
}

#myCanvas {
  background-image: url("https://i0.wp.com/www.cooksister.com/wp-content/uploads/2015/03/ObertauernTitle.jpg?fit=650%2C488&ssl=1");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

div{
  display:flex;
  justify-content:space-around;
}

.text{
 background-color:rgb(82, 96, 133);
        border: 3px solid;
        width: fit-content;
        border-radius: 15px;
        padding:8px;
}

#para{
  font-size:x-large;
}
